<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="Initial-Investment">Initial Investment</label>
      <input
        id="Initial-Investment"
        name="Initial-Investment"
        type="number"
        [(ngModel)]="enteredInitial"
      />
    </p>

    <p>
      <label for="Annual-Investment">Annual Investment</label>
      <input
        id="Annual-Investment"
        name="Annual-Investment"
        type="number"
        [(ngModel)]="enteredAnnual"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="Expected-Return">Expected Return</label>
      <input
        id="Expected-Return"
        name="Expected-Return"
        type="number"
        [(ngModel)]="enteredExpect"
      />
    </p>

    <p>
      <label for="Duration">Duration</label>
      <input
        id="Duration"
        name="Duration"
        type="number"
        [(ngModel)]="enteredDuration"
      />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
